---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>欢迎来到我的博客！</h2>
  <p>这是我在学习 Astro 过程中记录的博客文章。</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
